body {
	background: #272822;
}
body #main {
    height: 100%;
}
#rightpart {
	position: relative;
	padding: 4em 0 0;
	height: 100%;
}
#topbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4em;
	padding-left: 4em;
	z-index: 50;
	background: #e8e9e8;
	color: #333;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
-o-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.3), Direction=0, Strength=3);
}
#menubar {
	height: 3.9em;
	width: 4em;
	text-align: center;
	position: absolute;
	left: 0;
}
#menubar i {
	font-size: 1.5em;
}
#topbar .tab {
	height: 100%;
}
#topbar .tab::before {
	height: 2em;
	width: 2em;
	display: inline-block;
	vertical-align: middle;
}
#topbar .tab .material-icons {
	display: none;
}
#topbar .tab {
	display: none;
}
#topbar .tab.active {
	display: inline-block;
}
#topbar .tab span {
	font-weight: 600;
}
#editor {
	height: 100%;
	display: none;
}
#menu {
	width: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	bottom: 0;
	z-index: 100;
	background: #e8e9e8;
	overflow: auto;
	color: #333;
	padding-top: 4em;
	transition: all .2s;
}
#menu.active, #menu.active:after {
	left: 0;
}
#menu #logo {
	height: 4em;
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#menu #logo > span {
	margin-left: 1em;
	font-weight: 600;
	font-size: 1.2em;
}
#menu #logo #closemenu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 1em;
}
#menu #logo #settings {
    cursor: pointer;
}
#menu ul h3 {
	font-size: .9em;
	padding: .5em;
}
#menu ul h3, #menu li a:hover {
	background: rgba(0,0,0,0.15);
}
#menu ul li {
	position: relative;
	margin: .1em 0;
	padding-left: .2em;
	font-size: 14px;
}
#menu ul li .close {
	position: absolute;
	right: 1em;
	top: 0;
	bottom: 0;
}
#explorer li a {
    padding: 1px 0 1px .25em;
	width: 100%;
	display: block;
}
#explorer ol ol {
    margin-left: .25em;
	border-left: 1px solid #333;
}
.file:before, .folder:before {
	height: 1.5em;
	width: 1.5em;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 1.5em;
}
.folder:before {
	content: "\f07b";
	font-family: "FontAwesome";
}
.folder.charged:before {
    content: "\f07c";
}
.folder.charging:before {
    content: "\f110";
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.file.x-php:before, .file.php:before {
    content: url(../img/icons/php.svg);
}
.file.txt:before {
    content: url(../img/icons/default.svg);
}
.file.svg:before {
    content: url(../img/icons/svg.svg);
}
.file.css:before {
    content: url(../img/icons/css.svg);
}
.file.javascript:before, .file.js:before {
    content: url(../img/icons/javascript.svg);
}
.file.psd:before {
    content: url(../img/icons/photoshop.svg);
}
.file.ico:before {
    content: url(../img/icons/favicon.svg);
}
.file.png:before, .file.jpg:before, .file.jpeg:before, .file.bmp:before {
    content: url(../img/icons/image.svg);
}
.file.eot:before, .file.woff:before, .file.woff2:before, .file.ttf:before, .file.otf:before, .file.otc:before, .file.ttc:before {
    content: url(../img/icons/font.svg);
}
.file.html:before {
    content: url(../img/icons/html.svg);
}
.file.json:before {
    content: url(../img/icons/json.svg);
}
.file.htaccess:before {
    content: url(../img/icons/config.svg);
}
.file.gitignore:before {
    content: url(../img/icons/git_ignore.svg);
}
body > script {
	display: none;
}

body.darktheme #menu, body.darktheme #topbar, body.darktheme #settingsform #right {
    background: #333;
    color: white;
}
body.darktheme #settingsform h2, body.darktheme #settingsform h3 {
    color: white;
}
body.darktheme #explorer ol ol {
    border-color: white;
}


#settingspanel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    text-align: center;
    display: none;
}
#settingspanel + * {
    transition: filter .2s ease;
}
body.blurred #settingspanel + * {
    filter: blur(5px);
}
#settingsform {
    width: 600px;
    padding: 0;
    background: #0288D1;
}
#settingsform #left {
    width: 33.33333333%;
}
#settingsform #left img {
    height: 5em;
}
#settingsform #right {
    width: 66.6666666%;
    text-align: left;
    padding: 1em 2em;
    background: #fafafa;
}
#settingsform h2 {
	padding-right: 1.25em;
	line-height: 1.25em;
	margin: .5em 0 1em;
}
#settingsform h2, #settingsform h3 {
	color: #263238;
}
#settingsform #night #nighticon {
    color: #0288D1;
}
#settingsform #closesettings {
	position: absolute;
	top: 0;
	right: 0;
	margin: .5em .5em 0 0;
	padding: .5em;
	cursor: pointer;
}

@media screen and (min-width: 1020px) {
	#menu {
		position: relative;
		top: 0;
		left: 0;
		right: auto;
		width: 13%;
		min-width: 220px;
		height: 100%;
		padding: 2em 0 0;
	}
	#menu #explorer {
	    height: 100%;
	    overflow: auto;
	}
	#menu #logo {
		height: 2em;
		padding: .3em .6em;
	}
	#menu #logo #closemenu {
	    padding: 0;
	}
	#menu #logo > span {
	    margin-left: .6em;
	    font-size: 1em;
	}
	#rightpart {
	    padding-top: 2em;
		width: 87%;
		max-width: calc(100% - 220px);
	}
	#openedfiles, #menu ul h3, #topbar #menubar, #menu #closemenu #close {
		display: none;
	}
	#topbar {
	    height: 2em;
		padding-left: 0px;
		padding-right: 24px;
		-webkit-box-shadow: 0px 0px 0px 0px #000000;
-moz-box-shadow: 0px 0px 0px 0px #000000;
-o-box-shadow: 0px 0px 0px 0px #000000;
box-shadow: 0px 0px 0px 0px #000000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=0, Strength=0);
	}
	#topbar .tab {
		padding: 0;
		border-bottom: 2px solid transparent;
		display: inline-block;
		font-size: .8em;
	}
	#topbar .tab .material-icons {
		font-size: 1em;
		margin-left: .3em;
		cursor: pointer;
		display: inline-block;
		padding: 0 .4em;
	}
	.tab.active {
		border-bottom: 2px solid #8BC34A !important;
	}
}